/* This contains the custom styles used  in this project */






/* =========================================================================
                Main app styles
   ========================================================================= */

*{
    margin: 0;
    padding: 0;
}



.row {
    width: 100%;
}

.question-wrapper{
    width: 100%;

}

.question-label{
    color: red;
}

.question{

}

#title{
    text-align: center;
}

#content{
    margin: auto;
    width:50%;
}



main {
    max-width: 900px;
    margin: auto;
    width: 80%;
}


